<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c1bbb44e-935c-4936-a5ae-3767a414d5df/resourceGroups/tweetappaccountResourceGroup/providers/Microsoft.Web/sites/TweetAPP20210616215418</ResourceId>
    <ResourceGroup>tweetappaccountResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/c1bbb44e-935c-4936-a5ae-3767a414d5df/resourceGroups/tweetappaccountResourceGroup/providers/Microsoft.ApiManagement/service/TweetApp123/apis/TweetAPP</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tweetapp20210616215418.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>7262c4e4-4324-4543-b377-65f79fa3545f</ProjectGuid>
    <MSDeployServiceURL>tweetapp20210616215418.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TweetAPP20210616215418</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TweetAPP20210616215418</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>